{% extends 'base.html' %}
   {% block body %}
   <div class="content">
       <h1 style="text-align:center">API data upload</h1>
       {% if datasets|length <1 %}
       <h3>There are no data sets  </h3>
       {% else %}
       <table>
           <tr>
               <th>Data</th>
               <th>Name</th>
               </tr>
               {% for data in datasets %}
                <tr>
                    <td>{{ data.content }}</td>
                    <td>{{ data.name }}</td>
                       <td>
                           <a href="/delete/{{data.id}}">Delete</a>
                           <br>
                           <a href="/update/{{data.id}}">Update</a>
                       </td>
                   </tr>
                   {% endfor %}
               </table>
               {% endif %}
               <div class="form">
                   <form action="/" method="POST">
                       <input type="text" name="content" id="content">
                       <input type="text" name="name" id="name">
                       <input type="submit" value="Add data">
                   </form>
               </div>
           </div>
{% endblock %}